<% content_for :title, "Editing configuration item" %>

<h1>Editing configuration item</h1>

<%= render "form", configuration_item: @configuration_item %>

<br>

<div>
  <%= link_to "Show this configuration item", configuration_item_path(@configuration_item) %> |
  <%= link_to "Back to configuration items", configuration_items_path %>
</div>